body{
    background-color: #ebebeb;
}
.conteiner{
max-width: 1200px;
margin: 0 auto;
padding: 0 15px;
}
.block{
    min-height: 300px;
    margin: 20px;
    border: 2px solid #000;
    padding: 15px;
}
.block > h2{
    font-size: 25px;
    font-weight: 800;
}
.block > img{
    width: 300px;
    height: 200px;
    margin: 20px ;
    float:left;
}
.block > p{
    font-size: 15px;
    padding:20px;
}
.block > a {
    float: right;
}